{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Circuitos de Fórmula 1</h1>
    <br>
    <div class="row">
        {% for circuit in circuits %}
        <div class="col-md-4">
            <div class="category-card">
                {% if circuit.image %}
                    <img src="{{ circuit.image.url }}" alt="{{ circuit.name }}">
                {% endif %}
                <h3>{{ circuit.name }}</h3>
                <p><strong>Ubicación:</strong> {{ circuit.location }}, {{ circuit.country }}</p>
                <p><strong>Fecha:</strong> {{ circuit.date }}</p>
                {% if circuit.winner %}
                    <p><strong>Último ganador:</strong> {{ circuit.winner.name }}</p>
                {% else %}
                    <p><strong>Último ganador:</strong> No disponible</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
