{% extends "base.html" %}
{% load static %}

{% block title %}F1 - Pilotos{% endblock %}
{% block body_class %}drivers-page{% endblock %}

{% block content %}
<h1 class="text-center">Pilotos de F1</h1>
    <br>
<div class="row">
    {% for driver in drivers %}
    <div class="col-md-4 mb-4">
        <div class="category-card">
            {% if driver.photo %}
                <img src="{{ driver.photo.url }}" alt="{{ driver.name }}">
            {% else %}
                <img src="{% static 'default_driver.png' %}" alt="No image">
            {% endif %}
            <h3>{{ driver.name }}</h3>
            <br>
            <p>Equipo: {{ driver.team }}</p>
            <p>Nacionalidad: {{ driver.nationality }}</p>
            <div class="stats d-flex justify-content-around mt-2">
                <div class="stat-item text-center">
                    <strong>{{ driver.wins }}</strong>
                    <p>Victorias</p>
                </div>
                <div class="stat-item text-center">
                    <strong>{{ driver.podiums }}</strong>
                    <p>Podios</p>
                </div>
                <div class="stat-item text-center">
                    <strong>{{ driver.poles }}</strong>
                    <p>Poles</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
