{% extends "base.html" %}
{% load static %}

{% block title %}F1 - Pilotos{% endblock %}
{% block body_class %}drivers-page{% endblock %}

{% block content %}
<h1 class="text-center">Pilotos de F1</h1>
    <br>
<div class="row">
    {% for driver in drivers %}
    <div class="col-md-4 mb-4">
        <div class="category-card">
            {% if driver.photo %}
                <img src="{{ driver.photo.url }}" alt="{{ driver.name }}">
            {% else %}
                <img src="{% static 'default_driver.png' %}" alt="No image">
            {% endif %}
            <h3>{{ driver.name }}</h3>
            <p>Equipo: {{ driver.team }}</p>
            <p>Nacionalidad: {{ driver.nationality }}</p>
            <p>Victorias: {{ driver.wins }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
